*{
    background-color: black;
}
.swiper-button-prev, .swiper-button-next{
   display: none !important;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
    background-color: antiquewhite;
}